body{
  background-color: rgb(241, 246, 247);
  color: rgb(24, 23, 24);
  padding: 10px;
  text-align: center;
}

p{
  margin: 0;
}

.cards{
  margin: 10px 75px;
}

// note that the compare page uses rows as I want them to be side to side only for comparison
.card-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}