.stockContainer{
  margin: 10px 55px;

.search_and_backup{
  margin: 10px auto;
  justify-self: center;
}
  
}
.btn-info{
  padding: 5px;
  width: 200px;
  justify-self: center;
  margin: 10px auto;
  font-weight: 600;
}
