<h1>StockItems#index</h1>
<p>Find me in app/views/stock_items/index.html.erb</p>


<h2>So I am doing this work so I can hang out more at places like this with these people</h2>
<%= cl_image_tag("https://res.cloudinary.com/jomermac-pty-ltd/image/upload/v1614401037/dbb2xygqdfwt97yqbp8k.jpg",
      width: 400, height: 600, crop: :fill) %>