<h1>StockItems#new</h1>
<p>Find me in app/views/stock_items/new.html.erb</p>

<%= form_for @stock_item, url: stock_items_path do |f| %>
   <div class="form-group">
      <%= f.label :file, "Upload CSV File" %>
      <%= f.file_field :file, class: 'form-control-file', required: true %>
   </div>
   <%= f.button :submit  %>
<% end %>